.homepage-header {
  height: 70vh;
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
}

.header-search-area, .header-img-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search-area form {
  display: flex;
  flex-direction: row;
}

.header-search-area form {
  display: flex;
  flex-direction: row;
}

.input {
  font-family: 'Poppins';
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: .5rem;
  height: 2.5rem;
  margin-right: .5rem;
}

.input-group-text {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border: none;
  background-color: #f2f2f2;
}

.homepage-header form {
  width: 100%;
}

#advanced-search-button {
  display: none;
}

form:hover + #advanced-search-button {
  display: block;
  transition: .5s;
}


.input:focus {
  background-color: #f2f2f2;
  box-shadow: none;
}

.btn {
  background-color: #6c63ff; 
  font-weight: 900;
  border-radius: 20px;
  color: #f2f3f4;
  height: 2.5rem;
}

#header-img {
  height: 50vh;
}