body {
  padding-top: 70px;
}

.navbar {
  background-color: #20253a;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
  font-family: 'Oswald';
  color: #F2F3F4;
}

.navbar-toggler {
  color: #F2F3F4;
  border: none;
}

.nav-link {
  /* font-family: ; */
  color: #F2F3F4;
  cursor: pointer;
}

.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

  .user_container{
    font-size: 1.6rem;
    /* font-weight: 900; */
    background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v498-bb-27-abstractbg_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=d1d2aea1d432c457efbec74429e5056a');
    width: 100vw;
    height: 94vh;
    margin-top: -20px;
    /* display: flex;
    justify-content: center;
    align-items:center; */
  }
  .user_info_box{
    margin-left: 20%;
    padding-top: 5%;
    /* margin-top: 20%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border: 3px solid #20253a94; */
    /* box-shadow:0 20px 30px #20253a94;
    padding: 40px;
    border-radius:15px;  */
  }
  h3{
    color:#20253a;
    font-size: 30px;
    margin-bottom: 22px;
    text-transform: uppercase;
  }
  ul{
    list-style: none;
    margin-left: -35px;
  }
  .search{
    background:url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v498-bb-23-abstractbg_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=5bbe7c7a77237838a5edefd53c167e31');
    /* width: 100vw; */
    height: 94vh;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items:center;
  }


.property-listing {
  position: relative;
  /* perspective: 150rem;  */
 background-image: linear-gradient(to bottom right, rgba(85, 88, 218, 0.9), rgba(95, 209, 249, 0.9));
  margin: 40px 20px;
  width: 100%;
  max-width: 300px;
  height: 450px;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch; 
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
  .property-listing__title {
    font-size: 1.0rem; }
  .property-listing__preview-image {
    overflow: hidden;
    max-width: 100%; }
    .property-listing__preview-image img {
      min-width: 100%;
      height: 100%;
      padding: 0; }

      .card__heading {
        font-size: 1.6rem;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.637);
        width: 100%; }

      .card__heading-span {
        padding: 1rem 2rem;
       }

        .card__picture {
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          width: 100%;
          height: 300px;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); 
        }

        .card__cta {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          text-align: center; }
          .card__price-box {
            color: #fff;
            margin-bottom: 9rem; }

            .card__price-only {
              font-size: 1.4rem;
              text-transform: uppercase; }

              .card__price-value {
                font-size: 6rem;
                font-weight: 100; }
                
.property-listing:hover{
background-color:lime;
}
                .property-listing:hover .card__side--front {
                  transform: rotateY(-180deg); }

                  .card:hover .card__side--back {
                    transform: rotateY(0); }


  .flip-card {
   position: relative;
  background-color: transparent;
  margin: 40px 20px;
  width: 300px;
  height: 450px;
  perspective: 1000px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.5);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, rgba(194, 194, 194, 0.7), rgba(162, 171, 255, 0.514));
  color: black;
}

.flip-card-back {
  font-family: 'Alata', sans-serif;
  border-radius: 15px;
  background-color: #20253a;
  color: white;
  font-size: 46px;
  display: flex;
  justify-content: center;
  align-items:center;
  transform: rotateY(180deg);
}

.city{
  color:#20253a;
  font-style: italic;
  font-size: 14px;
}
.city-flex{
  width: 98%;
  text-align: right;
  position: absolute;
  bottom:5px;
  right:10px;
}
.post_description{
font-size: 20px;
font-family: 'Open Sans Condensed', sans-serif;
}

@media screen and (max-width: 400px) {
  .property-listing {
    flex-direction: column;
    height: 400px; } }
.search-property-form, .login-form, .new-property-form, .sign-up-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto; }
  .search-property-form__field-wrapper, .login-form__field-wrapper, .new-property-form__field-wrapper, .sign-up-form__field-wrapper {
    width: 100%;
    display: flex; }
  .search-property-form label, .login-form label, .new-property-form label, .sign-up-form label {
    display: none; }
  .search-property-form textarea, .search-property-form select, .search-property-form input, .search-property-form label, .login-form textarea, .login-form select, .login-form input, .login-form label, .new-property-form textarea, .new-property-form select, .new-property-form input, .new-property-form label, .sign-up-form textarea, .sign-up-form select, .sign-up-form input, .sign-up-form label {
    margin: 5px 5px;
    width: 100%; }

.page-header__user-links ul {
  list-style: none;
  display: flex; }
  .page-header__user-links ul li {
    padding: 0;
    margin: 0 10px;
    cursor: pointer; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */
