.navbar {
  transition: .6s;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  color: #20253a;
}

.nav-dark {
  transition: .6s;
  color: #F2F3F4;
  background-color: #20253a;
  -webkit-box-shadow: 0 8px 6px -6px #20253a;
  -moz-box-shadow: 0 8px 6px -6px #20253a;
  box-shadow: 0 8px 6px -6px #20253a;
}

.navbar-brand {
  font-family: 'Poppins';
  color: #F2F3F4;
  letter-spacing: .1rem;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-family: 'Poppins';
  font-weight: 600;
  color: #F2F3F4;
  cursor: pointer;
  margin: auto;
}

.dropdown-menu {
  background-color: #20253a;
}

.dropdown-item {
  font-family: 'Poppins';
  color: #F2F3F4;
}

.dropdown-item:hover {
  background-color: #20253a;
  color: #fff;
}

.input-group-text i {
  color: #6C63FF;
}



.login-form p, .sign-up-form p {
  font-family: "Poppins";
  font-size: 2rem;
}


footer {
  font-family: 'Poppins';
  color: #495057;
}

footer svg {
  height: 2.5rem;
}

footer a {
  font-family: 'Poppins';
  color: #495057;
  padding: 1rem;
}

footer .fa-github {
  font-size: 1.5rem;
}

footer a:hover, footer .fa-github:hover {
  color: #6C63FF
}