.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.nav-dark {
  background-color: #20253a;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
  font-family: 'Oswald';
  color: #F2F3F4;
}

.navbar-toggler {
  color: #F2F3F4;
  border: none;
}

.nav-link {
  /* font-family: ; */
  color: #F2F3F4;
  cursor: pointer;
}