.navbar {
  transition: .6s;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  color: #20253a;
}

.nav-dark {
  transition: .6s;
  color: #F2F3F4;
  background-color: #20253a;
  -webkit-box-shadow: 0 8px 6px -6px #20253a;
  -moz-box-shadow: 0 8px 6px -6px #20253a;
  box-shadow: 0 8px 6px -6px #20253a;
}

.navbar-brand {
  font-family: 'Oswald';
  color: #F2F3F4;
}

.navbar-toggler {
  color: #F2F3F4;
  border: none;
}

.nav-link {
  font-family: 'Poppins';
  color: #F2F3F4;
  cursor: pointer;
}